{% load i18n %}

{% block subject %}
{% blocktrans %}Новый заказ!{% endblocktrans %}
{% endblock %}

{% block text_body %}
    <div style="background-color: #f2f2f2; text-align: center; padding: 20px;">

{% trans "У вас новый заказ!" %}

{% blocktrans %}
        <div style="background-color: white; padding: 20px; border-radius: 15px; display: inline-block; text-align: left;">
            <p style="color: #333333; font-size: 16px; line-height: 1.6;">
            Пользователь {{ order.first_name }} оставил сообщение:
                {{ order.comment }}

                Контактные данные:
                Телефон: {{ order.phone_number }}
                Email: {{ order.email }}
            </p>
        </div>
{% endblocktrans %}

    </div>
{% endblock text_body %}

{% block html_body %}
    <div style="background-color: #f2f2f2; text-align: center; padding: 20px;">
<p style="color: #333333; font-size: 18px; font-weight: normal;">{% trans "У вас новый заказ!" %}</p>
        <div style="background-color: white; padding: 20px; border-radius: 15px; display: inline-block; text-align: left;">
    <p style="color: #333333; font-size: 16px; line-height: 1.6;">{% blocktrans %} Пользователь {{ order.first_name }} оставил сообщение:

            <br>
            <br>
    {{ order.comment }}
        <br>

         Контактные данные:
        Телефон: {{ order.phone_number }}
        Email: {{ order.email }}

        {% endblocktrans %}</p>
        </div>

    </div>
{% endblock html_body %}