{% load i18n %}

{% block subject %}
{% blocktrans %}Сброс пароля {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя на {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}
{{ protocol }}://{{ site_name }}/{{ url|safe }}
{% trans "Ваше email, если вы забыли:" %} {{ user.get_username }}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Наша {{ site_name }} команда{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя на {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}</p>
<a href="{{ protocol }}://{{ site_name }}/{{ url|safe }}">{{ protocol }}://{{ site_name }}/{{ url|safe }}</a>
<p>{% trans "Ваше email, если вы забыли:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Спасибо за использование нашего сайта!" %}</p>

<p>{% blocktrans %}Наша {{ site_name }} команда{% endblocktrans %}</p>
{% endblock html_body %}