{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Ваш пароль был успешно изменен!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Ваш пароль был изменен!" %}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Наша {{ site_name }} команда{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Ваш пароль был изменен!" %}</p>

<p>{% trans "Спасибо за использование нашего сайта!" %}</p>

<p>{% blocktrans %}Наша {{ site_name }} команда{% endblocktrans %}</p>
{% endblock html_body %}
