{% load i18n %}

{% block subject %}
{% blocktrans %}Сброс пароля{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
    <div style="background-color: #f2f2f2; text-align: center; padding: 20px;">
{% blocktrans %}
        <div style="background-color: white; padding: 20px; border-radius: 15px; display: inline-block; text-align: left;">
            <p style="color: #333333; font-size: 16px; line-height: 1.6;">
            Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя на {{ site_name }}.
            Если это были не вы, пожалуйста, проигнорируйте это письмо.
            Для сброса пароля, перейдите на следующую страницу и выберите новый пароль:{{ protocol }}:python.twnsnd.online/{{ url|safe }}

            Спасибо, что воспользовались нашим сайтом!
            </p>
        </div>
{% endblocktrans %}

<p style="color: #666666; font-size: 14px; margin-top: 10px;">
    {% blocktrans %}С уважением, {{ site_name }} {% endblocktrans %}
</p>
    </div>

{% endblock text_body %}

{% block html_body %}
<div style="background-color: #f2f2f2; text-align: center; padding: 20px;">
        <div style="background-color: white; padding: 20px; border-radius: 15px; display: inline-block; text-align: left;">
    <p style="color: #333333; font-size: 16px; line-height: 1.6;">
{% blocktrans %}
    Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя на {{ site_name }}.
    Если это были не вы, пожалуйста, проигнорируйте это письмо.
        <br>
    Для сброса пароля, перейдите на следующую страницу и выберите новый пароль:
<a href="{{ protocol }}://python.twnsnd.online/{{ url|safe }}">{{ protocol }}://python.twnsnd.online:31030/{{ url|safe }}</a>
        <br>
        <br>
    Спасибо, что воспользовались нашим сайтом!
{% endblocktrans %}

    </p>
        </div>

<p style="color: #666666; font-size: 14px; margin-top: 10px;">{% blocktrans %}С уважением, {{ site_name }} {% endblocktrans %}</p>
</div>
{% endblock html_body %}